.directory-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 885px) {
  .directory-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 695px) {
  .directory-menu {
    display: grid;
    grid-template-columns: 1fr;
  }
} ;
